/*Large Screen*/
@media (min-width: 768px) {
  .container-home {
    background-color: #070b13;
    border-radius: 1.5em;
    height: min-content;
    width: 67%;
    margin-right: 2%;
  }

  .container-about-me {
    text-align: center;
    display: inline;
  }

  .container-languages {
    display: flex;
    justify-content: center;
    margin: 1.5%;
  }

  .container-languages .text-white-small-clean {
    margin-left: 1.5%;
    margin-top: 1.5%;
    margin-bottom: 0.5%;
    font-size: 105%;
  }

  .container-knowledges {
    display: grid;
    grid-template-columns: repeat(2, 0.35fr); /* Dos columnas de tamaño igual */
    grid-template-rows: 0.25fr 0.25fr;
    text-align: center;
    width: 75%;

    justify-content: center; /* Centra el grid horizontalmente */
    margin: 0 auto; /* Centra el contenedor horitzontalmente */
  }

  .title-knowledges {
    font-size: 2.25vw;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5%;
    margin-top: 4%;
    grid-column: span 2; /* Hace que el elemento ocupe dos columnas */
  }

  .line-knowledge {
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
  }

  .container-knowledge {
    padding-bottom: 13%;
    margin-right: 4%;
  }

  .container-knowledges .text-white-small {
    margin-bottom: 5%;
  }

  .icon-knowledge {
    width: 20%;
    height: 20%;
    margin: 2%;
  }

  .text-about-me {
    margin: 0.5%;
  }
}

@media (max-width: 767px) {
  #container-home {
    background-color: 0.07b13;
    border-radius: 1.5em;
    width: 90%;
    height: min-content;
    margin-top: 5%;
  }

  .container-about-me {
    text-align: center;
    display: inline;
  }

  .text-white-medium-clean {
    font-size: 4vw;
  }

  .container-languages {
    display: flex;
    justify-content: center;
    margin: 2%;
  }

  .container-languages .text-white-small-clean {
    margin: 1.5%;
    font-size: 3.25vw;
  }

  /* Contenedor de conocimientos*/
  .container-knowledges {
    display: grid;
    grid-template-rows: 0.25fr 0.25fr;
    justify-content: center;
    text-align: center;
  }

  .container-knowledges .text-white-big-clean {
    color: white;

    font-weight: 300;
    font-size: 7vw;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5%;
    margin-top: 9%;
  }

  hr {
    margin: 4%;
    margin-bottom: 1.5%;
  }

  .container-knowledge {
    padding-bottom: 10%;
    margin-right: 4%;
  }

  .container-knowledges .text-white-small {
    margin-bottom: 5%;
  }

  .icon-knowledge {
    width: 15%;
    height: 15%;
    margin: 2%;
  }
}
