* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-image: url("../../assets/image/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#main-container {
  display: flex;
}

.button-download-cv:active {
  background-color: #0db783;
}

.button-download-cv:hover {
  transform: scale(1.05); /* Aumenta el tamaño en un 10% */
}

.link-rrss:hover {
  border-radius: 1em;
  background-color: #55acbe;
}

.inside-container-navigation:hover {
  border-radius: 1em;
  background-color: #55acbe;
  transform: scale(1.05); /* Aumenta el tamaño en un 10% */
}

/* Estilos específicos para la página "projects.html" */
.inside-container-navigation.always-hover {
  background-color: #55acbe;
  border-radius: 1em;
}
