#container-links-rrss {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 10%;
  gap: 5%;
}

/*RRSS*/

.button-link-rrss {
  display: flex;
  text-decoration: none;
  padding: 0.65vh 0.9vw;
  background-color: #55acbe;
  border-radius: 1em;
}

.button-link-rrss:hover {
  background-color: #2797ad2c;
}

.icon-standar {
  width: 2.65em;
  height: 2.65em;
}

#container-email {
  display: flex;
  align-items: center;
  width: min-content;
  margin-left: 20%;
  text-decoration: none;
}

#text-email {
  margin-left: 3%;
  font-family: "Russo One", sans-serif;
  color: #a9a6a6;
  font-size: 1.15vw;
}

#text-email:hover {
  color: #2797ad;
}

#limit-rrss {
  margin: 4%;
  margin-bottom: 10%;
}

#icon-email {
  background-color: #55acbe;
  border-radius: 100%;
  width: 1.25em;
  height: 1.25em;
  padding: 1%;
  margin-right: 2%;
  margin-left: -10%;
}

#icon-email:hover + #text-email {
  color: #2797ad;
}

/* Button download cv*/
#button-download-cv {
  padding: 3% 6%;
  background-color: #55acbe;
  border-radius: 0.5em;
  border: none;
  margin-top: 5%;
  transition: background-color 0.05s ease;
  cursor: pointer;
  color: white;
  font-size: 1.75vw;
  text-decoration: none;
}

#button-download-cv:hover {
  background-color: #2797ad2c;
  transform: scale(1.05); /* Aumenta el tamaño en un 10% */
  color: #2797ad;
}

/* Larger screen */
@media (min-width: 768px) {
  /* RR.SS */
  #container-rrss {
    background-color: #070b13;
    border-radius: 1.5em;
    padding: 0 2%;
    text-align: center;
    margin-bottom: 30%;
    width: 20%;
    margin-left: 3.5%;
    margin-right: 2%;
    margin-top: 3%;
    box-shadow: 0 0 4px #000000;
  }

  .title-name {
    font-family: "Zilla Slab", serif;
  }

  #container-inside-rrss {
    transform: translateY(-20%);
    margin-bottom: -20%; /* Tengo que recuperar el 20% translateY */
  }

  #angel-chibi {
    object-fit: cover;
    width: 100%; /* Ocupa todo el ancho de la celda */
    margin-left: 3%;
    margin-bottom: -10%;
  }
}

/* Mobile screen */
@media (max-width: 767px) {
  #container-rrss {
    background-color: #070b13;
    border-radius: 1.5em;
    padding: 0 2%;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 17%;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 0 0 4px #000000;
  }

  #angel-chibi {
    object-fit: cover;
    width: 100%;
    margin-left: 4%;
    margin-bottom: -10%;
  }

  .title-name {
    font-family: "Zilla Slab", serif;
    font-size: 150%;
  }

  #container-inside-rrss {
    transform: translateY(-20%);
    margin-bottom: -20%; /* Tengo que recuperar el 20% translateY */
  }

  #container-links-rrss {
    margin: 7%;
  }

  #container-email {
    margin-left: 28%;
  }

  #text-email {
    font-size: 70%;
  }

  #button-download-cv {
    font-size: 4vw;
  }
}
