/* Mobile screen */
@media (max-width: 767px) {
  #container-rrss {
    display: flex;
    list-style: none;
    grid-row: 1; /* Movemos a la fila 1*/
  }

  #container-inside-rrss {
    border-radius: 1.5em;
    width: 90%;
    background-color: #070b13;
    margin: 5% auto;
    text-align: center;
    padding-bottom: 10%;
  }

  #angel-chibi {
    object-fit: cover;
    width: 100%;
    margin-bottom: -8%;
    margin-left: 2.5%;
    margin-top: -9.5%;
  }

  .text-white-big {
    font-size: 6.5vw;
  }

  .text-grey-small {
    font-size: 4vw;
  }

  #container-links-rrss {
    gap: 5%;
  }

  #container-email {
    margin-left: 28%;
  }

  .text-white-small {
    font-size: 3.5vw;
  }

  #limit-rrss {
    margin: 4%;
    margin-bottom: 8%;
  }

  #button-download-cv {
    font-size: 4vw;
  }
}

/* Larger screen */
@media (min-width: 768px) {
  /* RR.SS */
  #container-rrss {
    background-color: #070b13;
    border-radius: 1.5em;
    padding: 0 2%;
    text-align: center;
    margin-bottom: 30%;
    width: 20%;
    margin-left: 3.5%;
    margin-right: 2%;
    margin-top: 3%;
  }

  .title-name {
    font-family: "Zilla Slab", serif;
  }

  #container-inside-rrss {
    transform: translateY(-20%);
    margin-bottom: -20%; /* Tengo que recuperar el 20% translateY */
  }

  #angel-chibi {
    object-fit: cover;
    width: 100%; /* Ocupa todo el ancho de la celda */
    margin-left: 3%;
    margin-bottom: -10%;
  }

  #container-email {
    margin-left: 20%;
    text-decoration: none;
  }

  #text-email {
    margin-left: 3%;
    font-family: "Russo One", sans-serif;
    color: #a9a6a6;
    font-size: 1.15vw;
  }

  #limit-rrss {
    margin: 4%;
    margin-bottom: 10%;
  }

  /* RRSS*/
  #container-links-rrss {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 10%;
    gap: 5%;
  }

  .button-link-rrss {
    display: flex;
    text-decoration: none;
    padding: 0.65vh 0.9vw;
    background-color: #55acbe;
    border-radius: 1em;
  }

  .button-link-rrss:hover {
    background-color: #2797ad2c;
  }

  .icon-standar {
    width: 3em;
    height: 3em;
  }

  #container-email {
    display: flex;
    align-items: center;
    width: min-content;
  }

  #icon-email {
    background-color: #55acbe;
    border-radius: 100%;
    width: 1.25em;
    height: 1.25em;
    padding: 1%;
    margin-right: 2%;
    margin-left: -10%;
  }

  /* Button download cv*/
  #button-download-cv {
    padding: 3% 6%;
    background-color: #55acbe;
    border-radius: 0.5em;
    border: none;
    margin-top: 5%;
    transition: background-color 0.05s ease;
    cursor: pointer;
    color: white;
    font-size: 1.75vw;
    text-decoration: none;
  }

  #button-download-cv:active {
    background-color: #0db783;
  }

  #button-download-cv:hover {
    background-color: #2797ad2c;
    transform: scale(1.05); /* Aumenta el tamaño en un 10% */
    color: #2797ad;
  }
}
